/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
  --matr-navbar-highlight-text: white;
  --matr-navbar-text-color: white;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}
body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: lightgray;
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: lightgray;

}
/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

/* Styling for landing (LandingSearch and FAQCards) */
.landingSearchButton {
  white-space: nowrap !important;
  background: #907139 !important;
  border: 0 !important;
  font-family: 'Open Sans', Tahoma, sans-serif !important;
  padding: 8px 20px 10px !important;
}

/* Styling for UHNavbar below */
.navbarColor {
  background-color: #444444;
}

.siteSearch {
  border: 2px solid #856404 !important; /* Change the border color */
  padding: 5px 10px; /* Adjust padding as needed */
}
.search {
  color: #856404 !important; /* Change the color */
  --bs-btn-color: #856404 !important;
  --bs-btn-bg: trasparent !important;
  --bs-btn-border-color: trasparent !important;
  --bs-btn-hover-color: trasparent !important;
  --bs-btn-hover-bg: trasparent !important;
  --bs-btn-hover-border-color: trasparent !important;

}
.search-boarder {
  border: transparent !important;
}

.department {
  color: #1b1e21 !important; /* Change the color */
}
.bottom-nav {
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
  --bs-nav-link-color: black !important;
  --bs-nav-link-hover-color: black !important;
  --bs-navbar-active-color: black !important;
}
.dropdown-item.active,
.dropdown-item:active {
  color: black !important;
  text-decoration: none;
  background-color: #856404 !important;
}
.toggler-bottom {
  color: black !important;
  background-color: transparent;
  border-color: transparent;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}
.dropdown-item {
  white-space: normal !important;
}
/* Styling for UHFooter below */
#footer_top {
  background-color: #fff;
  padding: 0;
}
#footer_btm {
  background-color: #222 !important;
  padding-top: 25px;
  padding-bottom: 50px;
  color: lightgray;
}
#footer_btm a {
  color: white;
}
.footerIcons{
  --bs-nav-link-color: white !important;
  --bs-nav-link-hover-color: white !important;
}
.custom-navlink{
  --bs-nav-link-padding-x: 5px;  /* Stylying for the padding of the icons */
  --bs-nav-link-padding-y: 0px;
}
div {
  display: block;
}
footer {
  clear: both;
  width: 100%;
  margin: 0;
}
